*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: #4768b5;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 70px;
}
.nav-items{
  list-style: none;
  display: flex;
}
.primary-nav .nav-item {
  padding: 5px 10px;
}
.primary-nav .nav-item :last-child{
  margin-right:30px;
}
.header .logo{
  margin-left: 15px;
}
.header .logo > i
{
  font-size:1.5em;
}
.chat-wrapper{
  background-color: lightskyblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}
.chat-container{
  width: 80%;
  height: 80%;
  border: 1px solid black;
  background-color: white;
  display: flex;
}
.chat-container .col{
  height: 100%;
}
.chat-container .col-1{
/* flex: 1; */
background-color:aqua;
}
.chat-container .col-2{
  /* flex:3; */
  background-color:lightgreen;
}
.chat-container .col-3{
flex: 6;
}
.menu {
  float: left;
  height: 496px;
  width: 70px;
  background: linear-gradient(#4768b5, #35488e);
}

.menu .items {
  list-style: none;
  margin: auto;
  padding: 0;
}

.menu .items .item {
  height: 70px;
  border-bottom: 1px solid #6780cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9fb5ef;
  font-size: 17pt;
}

.menu .items .item-active {
  background-color: #5172c3;
  color: #fff;
}

.menu .items .item:hover {
  cursor: pointer;
  background-color: #4f6ebd;
  color: #cfe5ff;
}
